#icon{
    transform: rotate(90);
}
.btn-div{
    text-align: right;
}
.btn-div button{
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    padding-top: 5px;
}
.ant-table-row {
    background-color: grey;
    cursor: pointer;
}
.ant-table-thead > tr > th {
    text-align: center !important ;
    font-weight: bolder !important;
}
/* 1276px ok */