.home-div{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    /* height: 75vh; */
    border-radius: 10px;
    overflow: hidden;
    background: hsla(0,0%,100%,.7);

}
#tabs{
    font-size: 20px;
}
.ant-tabs-tab{
    font-size: 25px !important;
}