#icon{
    transform: rotate(90);
}
.btn-div{
    text-align: right;
}
.btn-div button{
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.ant-table-tbody > tr > td {
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.ant-table-thead > tr > th {
    text-align: center !important;
    font-weight: bolder !important;
}

.main-wrapper{
    margin-bottom: 10px;
}
.ant-table-row-expand-icon{
    display: none !important;
}
